/* General */

body {
    margin: 0px;
    padding: 0px;
    background-color: #005152;
    background-image: url(public/wood.png);
    background-repeat: repeat;
    color: #fb9e35;
}

.card {
    margin: 50px;
    border-color: #c55428;
    color: #2d2d2f;
}

.btn-dark {
    color: #fb9e35;
    background-color: #005152;
    border-color: #c55428;
}

.btn-dark:hover {
    color: #d3d5d4;
    background-color: #0a394c;
    border-color: #c55428;
} 

.btn-dark:active {
    color:#c55428 !important;
    background-color: #0a394c8e !important;
    border-color: #c555289a !important;
    transform: translateY(1px)
}

.btn-modificar {
    margin-left: 10px;
}

/* Login */

.modal-header {
    background-color: #005152;
}

.modal-body {
    color: black;
    text-align: center;
}

.modal-text {
    margin: 10px;
}

/* Navbar */

.navbar {
    padding: 10px 35px 0px 35px;
}

.navbar-toggler {
    border-color: #c55428;
    background-color: #005152;
}

.navbar-brand {
    color: #fb9e35;
}

.nav-link {
   color: #fb9e35;
}

.disabled {
   color: #fb9f35a1 !important;
}

.navbar-logo {
    border-radius: 100%;
    float: left;
    width: 50px;
    margin-right: 10px;
}

.btn-log {
    margin-left: 10px;
 }

/* Card principal */

.acerca-de-card {
    margin-top: 15px;
}

@media (min-width: 768px) {
    .acerca-de-title {
        font-size: 3rem;
        padding-top: 20px;
    }
}

.profile-pic{
    border-radius: 100%;
    width: 200px;
    float: left;
    padding: 10px;
    margin: 20px;
}

/* Tarjetas de temas */

.card-sub {
    margin: 20px;
}

.card-title-grande {
    font-size: 2rem;
    margin: 5px 20px 5px;
}

@media (max-width: 768px) {
    .acerca-de-card {
        margin-top: 25px;
    }
    .card-horizontal-image {
        width: 800px;
    }
}

.btn-link {
    color:#fb9e35;
    text-decoration: none;
}

.btn-link:hover{
    color:#c55428;
    text-decoration: none;
}

.btn-link:active{
    color:#c55428;
    text-decoration: none;
}

.btn-link:visited {
    color:#fb9e35;
    text-decoration: none;
}

/* Habilidades blandas*/

.container-progress {
    margin-top: 20px;
}

.progress-bar {
    background-color: #c55428;
    border-color: #fb9e35;
}

.progress-text {
    border: 1px;
    border-color: #c55428;
    border-style: solid;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

@media (max-width: 768px) {
    .progress-text {
        margin-top: 20px;
    }
    .progress-text-primero {
        margin-top: 1px;
    }
}