<div class="card">
    <div class="card-body">
        <h3 class="card-title card-title-grande">Educación
            <button class="btn btn-dark btn-modificar">Agregar</button>
        </h3>
        <!--UBA-->
        <div class="card card-sub">
            <div class="row">
               <div class="col-md-2">
                    <img src="assets/Logo UBA.png" class="img-fluid rounded-start card-horizontal-image" alt="Logo de la Universidad de Buenos Aires">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h4 class="card-title">Estudiante de Bibliotecología 
                            <button class="btn btn-dark btn-modificar">Editar</button>
                            <button class="btn btn-dark btn-modificar">Borrar</button>
                        </h4>
                        <p class="card-text">[La carrera consiste en]</p>
                        <p class="card-text"><small class="text-muted">Periodo de estudio: 1 año, del 31 de marzo de 2022 a la actualidad.</small></p>
                  </div>
                </div>
            </div>
        </div>
        <!--ITBA-->
        <div class="card card-sub">
            <div class="row">
                <div class="col-md-2">
                    <img src="assets/Logo ITBA.jpg" class="img-fluid rounded-start card-horizontal-image" alt="Logo del Instituto Tecnológico de Buenos Aires">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h4 class="card-title">Desarrollador FullStack Jr.
                            <button class="btn btn-dark btn-modificar">Editar</button>
                            <button class="btn btn-dark btn-modificar">Borrar</button>
                        </h4>
                        <h6 class="card-text">Título: Desarrollador FullStack Jr.</h6>
                        <p class="card-text">[La carrera consiste en]</p>
                        <p class="card-text"><small class="text-muted">Periodo de estudio: 4 meses, del 6 de mayo de 2022 al 16 de agosto de 2022.</small></p>
                    </div>
                </div>
            </div>
        </div>
        <!--Chicas en Tecnología-->
        <div class="card card-sub">
            <div class="row">
                <div class="col-md-2">
                    <img src="assets/Chicas En Tecnología logo.png" class="img-fluid rounded-start card-horizontal-image" alt="Logo del Instituto Tecnológico de Buenos Aires">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h4 class="card-title">Programa de conectadas
                            <button class="btn btn-dark btn-modificar">Editar</button>
                            <button class="btn btn-dark btn-modificar">Borrar</button>
                        </h4>
                        <p class="card-text">[El curso consiste en]</p>
                        <p class="card-text"><small class="text-muted">Periodo de estudio: 2 meses, del 4 de octubre de 2021 al 7 de diciembre de 2021.</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>