<!DOCTYPE html>
<html lang="en">

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
              <img class="navbar-logo" src="assets/Logo Argentina Programa.jpg" alt="Logo de Argentina Programa"> 
              <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar">#ArgentinaPrograma</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="https://www.instagram.com/persona_134/">Instagram</a>
                  </li>
                  <li class="nav-item">
                    <!--El disabled es a proposito-->
                    <a class="nav-link disabled" href="https://www.tumblr.com/persona134">Tumblr</a>
                  </li>
                </ul>
                <button class="btn btn-dark">Login</button>
              </div>
            </div>
        </nav>
    </header>

    <main>
        <!--Acerca de-->
        <div class="card acerca-de-card">
            <img src="assets/Biblioteca nacional austríaca.jpg" class="card-img-top" alt="Foto de portada que representa a la biblioteca nacional austríaca">
            <div class="card-body">
                <img src="assets/I wish this was me.jpg" class="img-fluid profile-pic" alt="Foto de perfil">
                <h1 class="card-title acerca-de-title">Sergio Luis Pagano</h1>
                <p class="card-text">Desarrollador FullStack jr</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        
        <!--Educación-->
        <div class="card">
            <div class="card-body">
                <h3 class="card-title card-title-grande">Educación</h3>
                <!--UBA-->
                <div class="card card-sub">
                    <div class="row">
                       <div class="col-md-2">
                            <img src="assets/Logo UBA.png" class="img-fluid rounded-start card-horizontal-image" alt="Logo de la Universidad de Buenos Aires">
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h4 class="card-title">Estudiante de Bibliotecología</h4>
                                <p class="card-text">[La carrera consiste en]</p>
                                <p class="card-text"><small class="text-muted">Periodo de estudio: 1 año, del 31 de marzo de 2022 a la actualidad.</small></p>
                          </div>
                        </div>
                    </div>
                </div>
                <!--ITBA-->
                <div class="card card-sub">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="assets/Logo ITBA.jpg" class="img-fluid rounded-start card-horizontal-image" alt="Logo del Instituto Tecnológico de Buenos Aires">
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h4 class="card-title">Desarrollador FullStack Jr.</h4>
                                <h6 class="card-text">Título: Desarrollador FullStack Jr.</h6>
                                <p class="card-text">[La carrera consiste en]</p>
                                <p class="card-text"><small class="text-muted">Periodo de estudio: 4 meses, del 6 de mayo de 2022 al 16 de agosto de 2022.</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Chicas en Tecnología-->
                <div class="card card-sub">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="assets/Chicas En Tecnología logo.png" class="img-fluid rounded-start card-horizontal-image" alt="Logo del Instituto Tecnológico de Buenos Aires">
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h4 class="card-title">Programa de conectadas</h4>
                                <p class="card-text">[El curso consiste en]</p>
                                <p class="card-text"><small class="text-muted">Periodo de estudio: 2 meses, del 4 de octubre de 2021 al 7 de diciembre de 2021.</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Experiencia-->
        <div class="card">
            <div class="card-body">
                <h3 class="card-title card-title-grande">Experiencia</h3>
                <!--Healthcare-->
                <div class="card card-sub">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="assets/Healthcare logo.jpe" class="img-fluid rounded-start card-horizontal-image" alt="Logo de Healthcare Group, consultora de marketing médico">
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h5 class="card-title">[como se llama lo que hice]</h5>
                                <p class="card-text">El trabajo consistía en llamar a hospitales y consultorios para saber si los médicos de una base de datos seguían operando en los consultorios anotados en dicha base de datos, y obtener su infomación de contacto. Luego, rellenar un excel con la información obtenida.</p>
                                <p class="card-text"><small class="text-muted">Periodo de trabajo: 2 semanas, del 1 de febrero de 2022 al 15 de febrero de 2022.</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

                <!--Habilidades blandas-->
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title card-title-grande">Habilidades blandas</h3>
                        <div class="container container-progress">
                            <!--Empatía-->
                            <div class="row">
                                <div class="col-12 col-md-2">
                                    <p class="progress-text">Empatía</p>
                                </div>
                                <div class="col-12 col-md-10">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-stripped" role="progressbar" aria-label="Basic example" style="width: 76%" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100">76%</div>
                                    </div>
                                </div>
                            </div>
                            <!--Trabajo en equipo-->
                            <div class="row">
                                <div class="col-12 col-md-2">
                                    <p class="progress-text">Trabajo en equipo</p>
                                </div>
                                <div class="col-12 col-md-10">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-stripped" role="progressbar" aria-label="Basic example" style="width: 34%" aria-valuenow="34" aria-valuemin="0" aria-valuemax="100">34%</div>
                                    </div>
                                </div>
                            </div>
                            <!--Atención al detalle-->
                            <div class="row">
                                <div class="col-12 col-md-2">
                                    <p class="progress-text">Atención al detalle</p>
                                </div>
                                <div class="col-12 col-md-10">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-stripped" role="progressbar" aria-label="Basic example" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                                    </div>
                                </div>
                            </div>
                            <!--Capacidad de análisis-->
                            <div class="row">
                                <div class="col-12 col-md-2">
                                    <p class="progress-text">Capacidad de análisis</p>
                                </div>
                                <div class="col-12 col-md-10">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-stripped" role="progressbar" aria-label="Basic example" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100">89%</div>
                                    </div>
                                </div>
                            </div>
                            <!--Comunicación-->
                            <div class="row">
                                <div class="col-12 col-md-2">
                                    <p class="progress-text">Comunicación</p>
                                </div>
                                <div class="col-12 col-md-10">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-stripped" role="progressbar" aria-label="Basic example" style="width: 52%" aria-valuenow="52" aria-valuemin="0" aria-valuemax="100">52%</div>
                                    </div>
                                </div>
                            </div>
                            <!--Adaptabilidad-->
                            <div class="row">
                                <div class="col-12 col-md-2">
                                    <p class="progress-text">Adaptabilidad</p>
                                </div>
                                <div class="col-12 col-md-10">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-stripped" role="progressbar" aria-label="Basic example" style="width: 71%" aria-valuenow="71" aria-valuemin="0" aria-valuemax="100">71%</div>
                                    </div>
                                </div>
                            </div>
                            <!--Inglés-->
                            <div class="row">
                                <div class="col-12 col-md-2">
                                    <p class="progress-text">Inglés</p>
                                </div>
                                <div class="col-12 col-md-10">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-stripped" role="progressbar" aria-label="Basic example" style="width: 93%" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100">93%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        <!--Proyectos-->
        <div class="card">
            <div class="card-body">
                <h3 class="card-title card-title-grande">Proyectos</h3>
                <!--Homebanking ITBAnk-->
                <div class="card card-sub">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="assets/transparent-PNG Logo ITBAnk.png" class="img-fluid rounded-start card-horizontal-image" alt="Logo del ITBAnk, un banco ficticio alrededor del cual se construyó una página web">
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h5 class="card-title">Homebanking del ITBAnk</h5>
                                <p class="card-text">Dentro del curso FullStack del ITBA, el trabajo integrador consistía en desarrollar una página Homebanking desde cero. [tecnologías]</p>
                                <p class="card-text"><small class="text-muted">Periodo de trabajo: 4 meses, del 6 de mayo de 2022 al 16 de agosto de 2022.</small></p>
                                <button class="btn btn-dark"><a class="btn-link" href="https://github.com/La-764/sprint-7">Proyecto en GitHub</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <hr>
        <div class="container">
            <div class="row">
                    <div class="col-12 col-sm-8">
                        <p><strong>Información de contacto</strong></p>
                        <p>Mail: sergioluispagano@gmail.com</p>
                        <p>Tel: +54 9 11 2850-6984</p>
                    </div>
                    <div class="col-12 col-sm-4">
                        <p><strong>Tecnologías usadas en esta página</strong></p>
                        <p>HTML, CSS, Bootstrap</p>
                        <p>Javascript,</p>
                    </div>
                </div>
            </div>
    </footer>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</html>

<router-outlet></router-outlet>
