<div class="card">
    <div class="card-body">
        <h3 class="card-title card-title-grande">Proyectos
            <button class="btn btn-dark btn-modificar">Agregar</button>
        </h3>
        <!--Homebanking ITBAnk-->
        <div class="card card-sub">
            <div class="row">
                <div class="col-md-2">
                    <img src="assets/transparent-PNG Logo ITBAnk.png" class="img-fluid rounded-start card-horizontal-image" alt="Logo del ITBAnk, un banco ficticio alrededor del cual se construyó una página web">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h4 class="card-title">Homebanking del ITBAnk
                            <button class="btn btn-dark btn-modificar">Editar</button>
                            <button class="btn btn-dark btn-modificar">Borrar</button>
                        </h4>
                        <p class="card-text">Dentro del curso FullStack del ITBA, el trabajo integrador consistía en desarrollar una página Homebanking desde cero. [tecnologías]</p>
                        <p class="card-text"><small class="text-muted">Periodo de trabajo: 4 meses, del 6 de mayo de 2022 al 16 de agosto de 2022.</small></p>
                        <button class="btn btn-dark"><a class="btn-link" href="https://github.com/La-764/sprint-7">Proyecto en GitHub</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>