<div class="card">
    <div class="card-body">
        <h3 class="card-title card-title-grande">Experiencia
            <button class="btn btn-dark btn-modificar">Agregar</button>
        </h3>
        <!--Healthcare-->
        <div class="card card-sub">
            <div class="row">
                <div class="col-md-2">
                    <img src="assets/Healthcare logo.jpe" class="img-fluid rounded-start card-horizontal-image" alt="Logo de Healthcare Group, consultora de marketing médico">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h4 class="card-title">[como se llama lo que hice]
                            <button class="btn btn-dark btn-modificar">Editar</button>
                            <button class="btn btn-dark btn-modificar">Borrar</button>
                        </h4>
                        <p class="card-text">El trabajo consistía en llamar a hospitales y consultorios para saber si los médicos de una base de datos seguían operando en los consultorios anotados en dicha base de datos, y obtener su infomación de contacto. Luego, rellenar un excel con la información obtenida.</p>
                        <p class="card-text"><small class="text-muted">Periodo de trabajo: 2 semanas, del 1 de febrero de 2022 al 15 de febrero de 2022.</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>