<div class="card acerca-de-card">
    <img src="assets/Biblioteca nacional austríaca.jpg" class="card-img-top" alt="Foto de portada que representa a la biblioteca nacional austríaca">
    <div class="card-body">
        <img src="assets/I wish this was me.jpg" class="img-fluid profile-pic" alt="Foto de perfil">
        <h1 class="card-title acerca-de-title">
            Sergio Luis Pagano 
            <button class="btn btn-dark btn-modificar">Editar</button>
            <button class="btn btn-dark btn-modificar">Agregar sección</button>
        </h1>
        <p class="card-text">Desarrollador FullStack jr</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>